.wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--uxl-switch-border-color, #e0e0e0);
  border-radius: 4px;
  width: var(--uxl-switch-width, 200px);
  overflow: hidden;

  .option {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    padding: var(--uxl-switch-option-padding, 8px);
    color: var(--uxl-switch-text-color, #616161);
    font-size: var(--uxl-switch-font-size, 16px);
    background-color: var(--uxl-switch-option-background-color, #ffffff);

    &__active {
      &.selected {
        background-color: var(--uxl-switch-active-selected-background-color, #81c784);
        color: var(--uxl-switch-selected-text-color, #ffffff);
      }
    }

    &__inactive {
      &.selected {
        background-color: var(--uxl-switch-inactive-selected-background-color, #ef5350);
        color: var(--uxl-switch-selected-text-color, white);
      }
    }
  }

  &.disabled {
    opacity: 0.5;
  }
}
